.d {
    position: absolute;
    width: 120px;
    z-index: 1;
}

.base {
    position: absolute;
    display: block;
    width: 893px;
    margin: auto;
}

.trashBox {
    position: absolute;
    width: 100px;
    left: 1000px;
    top: 500px;
}

.appendBtn {
    position: absolute;
    top: 300px;
    left: 980px;
    cursor: pointer;
}